<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        
        <link rel="stylesheet" href="https://bootswatch.com/4/sandstone/bootstrap.min.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"/>


    </head>






    <body>
    
    {% include "partials/navbar.html.twig" %}


    <div class="container pt-5">

        {% include "partials/flashes.html.twig" %}

        {% block body %}{% endblock %}
    </div>


        {% block javascripts %}{% endblock %}
    </body>
</html>
